@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;


}

nav {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    background-color: antiquewhite;
    height: 80x;
    width: 100%;
    position: fixed;
    z-index: 1;
}

label.logo {
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size:  17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase; /* mettre en majuscule*/
}

a.active, a:hover {
    background: #2c3e50;
    color: antiquewhite;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 1065px) {
    label .logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a  {
        font-size: 20px;
    }

    a:hover, a:active {
        background: none;
        color: antiquewhite;

    }


    #check:checked ~ ul {
        left: 0;
    }

   
}

@media (max-width: 700px) {
    label.logo {
        font-size: 30px;
        padding-left: 30px;

    }

}


/*
ul {

    /*  permet de fixe la nav*/
 /*   position: fixed;
    width: 100%;

    font-size: 22px;

    list-style-type: none;
    margin-bottom: auto;
   
    background: none;
    z-index: 1;
    background-color: rgba(250 , 235, 215, 0.95);
    box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.38);


}

li {
    float: right;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 27px 27px;
    text-decoration: none;
    transition: color 0.3s ease;
}

li a:hover {
    color: orange;
}

.nav-contact{
    padding: 27px 100px 27px 27px;
}

.logo {
    float: left;
    padding: 27px 100px;
    font-size: 22px;
}*/

.header {
    text-align: center;
    height: 768px;
    line-height: 768px;
    text-align: center;
    background: linear-gradient(to right, rgba(55, 55, 55, 0.6), rgba(55, 55, 55, 0.6)), url("bg-principal-coiffure.jpg") ;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    color: white;
   /* background-color: rgba(55, 55, 55, 0.6) ;*/
    
}

.header h1 {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    
    
}


.about {
    background-color: antiquewhite;
    min-height: 900px;
    text-align: center;
}

.title-about {
    padding: 50px 0 10px 0;
}

.content-about {
   display: flex;
    flex-direction: row;
    justify-content: center;
  /*  flex-wrap: wrap;*/

}

.text-about {
    text-align: left;
    width: 50%;
    margin: 75px;
    min-height: 400px;
}

.text-about h4 {
    margin: 25px 0;
    font-size: 30px;
}

.text-about p {
    font-size: 20px;
}

.img-about {
    width: 50%;
    margin: 75px;
    background-image: url("img-about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 620px;
}


.creation {
    min-height: 900px;
   /* max-width: 2500px;*/
    width: 100%;
    text-align: center;
    align-items: center;
    background-color: antiquewhite;
}

.title-creation {
    padding: 0px 0 15px 0;
}

.content-creation {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.carte {
    margin: 75px;
    min-height: 200px;
    min-width: 340px;
    background-color: white;
    border-radius: 35px;
    /*box-shadow: 0px 0px 30px 3px rgba(255,255,255,0.7);*/
}

.carte img {
    transform: translateY(-30px);
   /* margin: px;*/
    height: 150px;
    box-shadow: 10px 7px 30px 11px rgba(0,0,0,0.25);
}


.testimonial {
    min-height: 900px;
    background-image: url("bg-testi.jpg");    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    color: white;

}

.title-testi {
    padding: 70px 0 15px 0;
}

.full-box-testi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-testi {
    min-height: 400px;
    width: 350px;
    margin: 55px;
    background-color: white;
    border-radius: 5px;
    color: black;
}

.pdp-testi {
    margin: 25px;
    height: 100px;
    border-radius: 50%;
}

.txt-testi {
    margin: 10px 25px;
}

.name-testi {
    margin: 35px;
    color: orange;
}

.contact {
    min-height: 720px;
    background-color: antiquewhite;
    text-align: center;

}

.title-contact {
    padding-top: 50px;
}

.content-contact {
    min-height: 400px;
    background-color: white;
    max-width: 550px;
    height: 200px;
    margin: 65px auto;
    padding-top: 25px;
    border-radius: 35px;
}

.input-contact {
    border-radius: 5px;
    height: 50px;
    max-width: 450px;
    width: 350px;
    margin: 25px;
    padding-left: 10px;

}

.input-msg {
    padding-top: 10px;
}

.btnContact {
    border: none;
    padding: 12px 25px;
    border-radius: 35px;
    background-color: orange;
}

.btnContact:hover {

    background-color: rgb(255, 195, 82);
}

@media (max-width: 1480px) {
    .content-about {
        flex-wrap: wrap;
    }

    .text-about {
        margin: 10px 45px;
        width: 90%;
    }

    .img-about {
        width: 85%;
        margin: 25px;
    }
}
